@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* Text and fonts */

  body {
    font-family: "Inter", sans-serif;
    color: #404e6b;
    line-height: 1.25;
  }
